:host {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mat-card-title {
    text-align: center;
  }

  .title {
    display: flex;
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
  }

  .crew-amount {
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
  }
}
