:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .mat-headline {
    text-align: center;
  }

  .resource-card-area {
    display: flex;
    flex: 0 1 auto;
    width: 40vw;
    justify-content: space-around;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}
