:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .fight-board {
    flex: 0 1 auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
